{% extends 'base.html' %}


<!-- page title -->
{% block title %} RedEye - Home {% endblock %}



<!-- main content -->
{% block content %}

  <h2>Welcome to RedEye</h2>
  <br />

  <!-- Display the dashboard if the user is logged in -->
  {% if user.is_authenticated %}


    <!-- Check for and show any database connection errors -->
    {% if "App DB Connect OK" not in app_db_connect_error %}
      <p>Database connection error:</p>
      <p>{{ app_db_connect_error }}</p>
    {% endif %}

    <!--
    {% if "LOB app DB Connect OK" not in lobapp_db_connect_error %}
      <p>App DB connection error:</p>
      <p>{{ lobapp_db_connect_error }}</p>
    {% endif %}
    -->


    <!-- Show the run number -->
    {% if app_run_number %}
      <p>Last app run number: {{ app_run_number }}</p>
      <br />
    {% else %}
      <p>Last app run number: Error</p>
      <br />
    {% endif %}



    <!-- TEST
    {% if uptime_scores %}
      <p>RMM uptime_score: {{ uptime_scores.0 }}</p>
      <p>LOB uptime_score: {{ uptime_scores.0 }}</p>
      <br />
    {% else %}
      <p>RAW uptime_score: Error</p>
      <br />
    {% endif %}
    -->



    <!-- CSS override for the tabbed tables -->
    <style>
      .nav {
        --bs-nav-link-padding-x: 1rem;
        --bs-nav-link-padding-y: 0.5rem;
        --bs-nav-link-font-weight: ;
        --bs-nav-link-color: var(--bs-link-color);
        /* --bs-nav-link-hover-color: var(--bs-link-hover-color); */
        --bs-nav-link-hover-color: #0dcaf0;
        --bs-nav-link-disabled-color: #6c757d;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
      }
      .nav-tabs .nav-link {
        margin-bottom: calc(var(--bs-nav-tabs-border-width) * -1);
        background: #d9d9d9;
        border: var(--bs-nav-tabs-border-width) solid transparent;
        border-top-left-radius: var(--bs-nav-tabs-border-radius);
        border-top-right-radius: var(--bs-nav-tabs-border-radius);
      }
      .nav-link {
        display: block;
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
        font-size: var(--bs-nav-link-font-size);
        font-weight: var(--bs-nav-link-font-weight);
        color: var(--bs-nav-tabs-link-active-color);
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      }
      .nav-tabs {
        --bs-nav-tabs-border-width: 1px;
        --bs-nav-tabs-border-color: #dee2e6;
        --bs-nav-tabs-border-radius: 0.375rem;
        --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
        --bs-nav-tabs-link-active-color: #495057;
        /* --bs-nav-tabs-link-active-color:  #0dcaf0; */
        --bs-nav-tabs-link-active-bg: #ffffff;
        --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;
        border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
      }
    </style>


    

    <!-- Display results of Home view actions -->
    <section id="tabs" class="project-tab">
      <div id="mainContent" class="container">
        <div class="row">
          <div class="col-md-12">


            <!-- The tabbed nav links / buttons -->
            <ul class="nav nav-tabs" id="tab-links" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="lobapp-issues-tab" data-bs-toggle="tab" data-bs-target="#lobapp-issues" type="button" role="tab" aria-controls="lobapp-issues" aria-selected="true">lobapp Issues</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="kaseya-issues-tab" data-bs-toggle="tab" data-bs-target="#kaseya-issues" type="button" role="tab" aria-controls="kaseya-issues" aria-selected="false">Kaseya Issues</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="totally-offline-tab" data-bs-toggle="tab" data-bs-target="#totally-offline" type="button" role="tab" aria-controls="totally-offline" aria-selected="false">Totally Offline</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="missing-custom-fields-tab" data-bs-toggle="tab" data-bs-target="#missing-custom-fields" type="button" role="tab" aria-controls="missing-custom-fields" aria-selected="false">Missing Custom Fields</button>
              </li>
            </ul>


            <!-- The tabs' contents -->
            <div class="tab-content" id="nav-tabContent">


              <!-- agents online in Kaseya, but offline in LOB app-->
              <div class="tab-pane fade" id="lobapp-issues" role="tabpanel" aria-labelledby="lobapp-issues">

                  <!--
                  <p>agents_with_lobapp_issues RAW: {{ agents_with_lobapp_issues }}</p>
                  <br />
                  -->

                  <!-- Table LOB app_issues -->
                  <table class="table table-sm table-dark table-bordered table-hover">
                    <thead>
                    <tr>
                      <th colspan="4">App PCs UP in Kaseya but DOWN in LOB app: {{ agents_with_lobapp_issues_count }}</th>
                    </tr>
                      <tr>
                        <th scope="col">VSA Agent Name</th>
                        <th scope="col">Property ID</th>
                        <th scope="col">Last LOB App Query (UTC)</th>
                        <th scope="col">Last LOB App Update (UTC)</th>
                      </tr>
                    </thead>

                    <!-- For loop here, but check for an empty result -->
                    {% if agents_with_lobapp_issues %}
                      {% for agent in agents_with_lobapp_issues.0 %}
                        <tbody>
                          <tr>
                            <!-- <th scope="row">1</th> -->
                            <td>{{ agent.0 }}</td>
                            <td>{{ agent.1 }}</td>
                            <td>{{ agent.2 }}</td>
                            <td>{{ agent.3 }}</td>
                          </tr>
                        </tbody>
                      {% endfor %}
                    {% endif %}

                    <!-- Here check for an error returned -->
                    {% if "Failed" in agents_with_lobapp_issues %}
                      <tbody>
                        <tr>
                          <th colspan="4">Something bad happened: {{ agents_with_lobapp_issues }}</th>
                        </tr>
                      </tbody>
                    {% endif %}

                  </table>
                  <!-- End Table lobapp_issues -->
              </div> <!-- id="lobapp-issues" -->




              <!-- agents online in LOB app, but offline in Kaseya-->
              <div class="tab-pane fade" id="kaseya-issues" role="tabpanel" aria-labelledby="kaseya-issues">

                  <!--
                  <p>agents_with_kaseya_issues RAW: {{ agents_with_kaseya_issues }}</p>
                  <br />
                  -->

                  <!-- Table kaseya-issues -->
                  <table class="table table-sm table-dark table-bordered table-hover">
                    <thead>
                    <tr>
                      <th colspan="4">PCs UP in LOB app but DOWN in Kaseya: {{ agents_with_kaseya_issues_count }}</th>
                    </tr>
                      <tr>
                        <th scope="col">VSA Agent Name</th>
                        <th scope="col">Property ID</th>
                        <th scope="col">Last Kaseya Check-In (UTC)</th>
                        <th scope="col">Last LOB App Query (UTC)</th>
                      </tr>
                    </thead>

                    <!-- For loop here, but check for an empty result -->
                    {% if agents_with_kaseya_issues %}
                      {% for agent in agents_with_kaseya_issues.0 %}
                        <tbody>
                          <tr>
                            <!-- <th scope="row">1</th> -->
                            <td>{{ agent.0 }}</td>
                            <td>{{ agent.1 }}</td>
                            <td>{{ agent.2 }}</td>
                            <td>{{ agent.3 }}</td>
                          </tr>
                        </tbody>
                      {% endfor %}
                    {% endif %}

                    <!-- Here check for an error returned -->
                    {% if "Failed" in agents_with_kaseya_issues %}
                      <tbody>
                        <tr>
                          <th colspan="4">Something bad happened: {{ agents_with_kaseya_issues }}</th>
                        </tr>
                      </tbody>
                    {% endif %}

                  </table>
                  <!-- End Table kaseya-issues -->
              </div> <!-- id="kaseya-issues" -->




              <!-- agents totally offline, in both Kaseya and LOB app -->
              <div class="tab-pane fade" id="totally-offline" role="tabpanel" aria-labelledby="totally-offline">

                  <!--
                  <p>agents_totally_offline RAW: {{ agents_totally_offline }}</p>
                  <br />
                  -->

                  <!-- Table totally-offline -->
                  <table class="table table-sm table-dark table-bordered table-hover">
                    <thead>
                    <tr>
                      <th colspan="4">PCs DOWN in both LOB app and Kaseya: {{ agents_totally_offline_count }}</th>
                    </tr>
                      <tr>
                        <th scope="col">VSA Agent Name</th>
                        <th scope="col">Property ID</th>
                        <th scope="col">Last Kaseya Check-In (UTC)</th>
                        <th scope="col">Last LOB App Query (UTC)</th>
                      </tr>
                    </thead>

                    <!-- For loop here, but check for an empty result -->
                    {% if agents_totally_offline %}
                      {% for agent in agents_totally_offline.0 %}
                        <tbody>
                          <tr>
                            <!-- <th scope="row">1</th> -->
                            <td>{{ agent.0 }}</td>
                            <td>{{ agent.1 }}</td>
                            <td>{{ agent.2 }}</td>
                            <td>{{ agent.3 }}</td>
                          </tr>
                        </tbody>
                      {% endfor %}
                    {% endif %}

                    <!-- Here check for an error returned -->
                    {% if "Failed" in agents_totally_offline %}
                      <tbody>
                        <tr>
                          <th colspan="4">Something bad happened: {{ agents_totally_offline }}</th>
                        </tr>
                      </tbody>
                    {% endif %}

                  </table>
                  <!-- End Table totally-offline -->
              </div> <!-- id="totally-offline" -->




              <!-- agents missing the Kaseya custom fields -->
              <div class="tab-pane fade" id="missing-custom-fields" role="tabpanel" aria-labelledby="missing-custom-fields">

                  <!--
                  <p>agents_missing_custom_field RAW: {{ agents_missing_custom_field }}</p>
                  <br />
                  -->

                  <!-- Table totally-offline -->
                  <table class="table table-sm table-dark table-bordered table-hover">
                    <thead>
                    <tr>
                      <th colspan="4">PCs Missing Kaseya Custom Fields: {{ agents_missing_custom_field_count }}</th>
                    </tr>
                      <tr>
                        <th scope="col">VSA Agent Name</th>
                        <th scope="col">CF: File Type</th>
                        <th scope="col">CF: Device Name</th>
                        <th scope="col">Last Kaseya Check-In (UTC)</th>
                      </tr>
                    </thead>

                    <!-- For loop here, but check for an empty result -->
                    {% if agents_missing_custom_field %}
                      {% for agent in agents_missing_custom_field.0 %}
                        <tbody>
                          <tr>
                            <!-- <th scope="row">1</th> -->
                            <td>{{ agent.0 }}</td>
                            <td>{{ agent.1 }}</td>
                            <td>{{ agent.2 }}</td>
                            <td>{{ agent.3 }}</td>
                          </tr>
                        </tbody>
                      {% endfor %}
                    {% endif %}

                    <!-- Here check for an error returned -->
                    {% if "Failed" in agents_missing_custom_field %}
                      <tbody>
                        <tr>
                          <th colspan="4">Something bad happened: {{ agents_missing_custom_field }}</th>
                        </tr>
                      </tbody>
                    {% endif %}

                  </table>
                  <!-- End Table missing-custom-fields -->
              </div> <!-- id="missing-custom-fields" -->



            </div> <!-- id="nav-tabContent" -->
            <!-- Ends the tabbed table section -->


          </div>  <!-- class+col-md-12" -->
        </div>  <!-- class="row" -->
      </div>  <!-- id="mainContent" -->
    </section>


    <!-- Any other stuff you want to show, put it here -->



    <!-- logout button -->
    <br />
    <br />
    <p>Got what you need? <b><a href="{% url 'logout' %}" class="link-info">Logout</a></b></p>



<!-- If user isn't logged-in, make them do so --->
{% else %}
  <p>Howdy, stranger!</p>
  <p>Welcome to RedEye.</p>
  <p>You must <b><a href="/login" class="link-info">Log in</a></b> to see anything cool here, or you can <b><a href="/register" class="link-info">register</a></b>.</p>
{% endif %}




{% endblock %}
<!-- end main content -->
